.quote {
  background-color: #091c41;
  color: white;
  border-radius: 0.5rem;
  padding: 3rem;
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  border: 1px solid #96b6ee;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);
}

.quote p {
  font-size: 2.5rem;
  font-weight: 300;
  color: #fff;
}

.quote figcaption {
  font-style: italic;
  font-size: 1.5rem;
  text-align: right;
  color: #96b6ee;
}
