.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting {
  padding-bottom: 1rem;
  border-bottom: 3px solid #c6d7f8;
  margin: 2rem auto;
  text-align: right;
  max-width: 50rem;
}

.sorting button {
  font: inherit;
  color: #081c41;
  border: 1px solid #fffff7;
  background-color: #c6d7f8;
  border-radius: 0.4rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  font-weight: 300;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.sorting button:hover {
  background-color: #091c41;
  color: #fff;
  border: 1px solid #fffff0;
}

.sorting button:active {
  transform: scale(0.9);
  box-shadow: inset 0 0 10px #fffff0;
}

.sorting button:focus {
  outline: none;
}
