.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting {
  padding-bottom: 1rem;
  border-bottom: 3px solid #c6d7f8;
  margin: 2rem auto;
  text-align: right;
  max-width: 50rem;
}

.sorting button {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  margin-right: 0.9rem;
  cursor: pointer;
  background-color: #091c41;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  position: relative;
  border-radius: 0.3rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 0.3rem;
  font-weight: 300;
  transition: all 0.3s ease;
  font-size: clamp(0.5rem, 0.8vw, 0.7rem);
}
.sorting button:hover {
  background-color: #b5ccf6;
  border-color: #091c41;
  color: #091c41;
}
.sorting button:active {
  transform: scale(0.9);
  box-shadow: inset 0 0 10px #000;
}
.sorting button:focus {
  outline: none;
}
