.header {
  width: 100%;
  height: 5rem;
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
  background-color: #040d1e;
}

.logo {
  font-size: clamp(1.4rem, 2.5vw, 2.4rem);
  color: white;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-left: 1.5rem;
  font-size: clamp(1rem, 2.5vw, 1.4rem);
}

.nav a {
  text-decoration: none;
  color: #82a7ee;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #e6fcfc;
}
