@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  align-items: center;
  justify-content: center;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-height: 100vh;
  overflow: hidden;
  font-weight: 300;
  margin: 0;
  background: rgb(57, 115, 224);
  background: linear-gradient(
    0deg,
    rgba(57, 115, 224, 1) 0%,
    rgba(6, 20, 47, 1) 100%
  );
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
body::-webkit-scrollbar-thumb {
  background: #8b92a5;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #b5ccf6;
}
body::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: 1px solid #82a7ee;
  cursor: pointer;
  background-color: #091c41;
  color: #fff;
  border: 1px solid #091c41;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  position: relative;
  border-radius: 0.3rem;
  font-weight: 300;
  font-size: 0.6rem;
}

.btn:hover,
.btn:active {
  background-color: #b5ccf6;
  border-color: #091c41;
  color: #091c41;
  font-weight: 500;
}

.btn--flat {
  cursor: pointer;
  font: inherit;
  color: #82a7ee;
  border: none;
  background-color: #091c41;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8rem;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: #82a7ee;
  border: 1px solid #091c41;
  color: white;
}

.btn--flat:focus,
btn:focus {
  outline: none;
}
